body{
  background-color: #101010;
  font-family: system-ui;
  font-size: 16px;
  color: lightgrey;
}

em{
  color: orange;
  font-style: normal;
  font-weight: bold;
}

p{
  line-height: 22px;
}

#header{
  display: block;
  margin: 5% 15% 10% 15%;
}

#header-title{
  font-size: 72px;
  color: lightgrey;
  text-decoration: none;
}

#header-nav{
  float: right;
  margin: 0;
}

#header-nav li{
  display: inline;
  padding-left: 20px;
}

#header-nav a{
  text-decoration: none;
  font-variant: small-caps;
  color: lightgrey;
}

#content{
  margin: 0 15% 20% 15%;
}

.quest{
  border-left: solid 3px orange;
  border-right: solid 3px orange;
  padding: 0 10px 0 10px;
  margin-bottom: 10%;
}

.unit{
  margin-bottom: 10%;
}


.unit-title{
  margin-top: 0;
  text-decoration: none;
  font-weight: normal;
  font-size: 44px;
  font-variant: small-caps;
}

.unit-quote{
  width: 50%;
  padding-left: 50%;
  margin-bottom: 20px;
}

.quote-content{
  border-left: solid 3px lightgrey;
  font-weight: 270;
  padding-left: 10px;
  margin-bottom: 0;
}

.quote-author{
  font-weight: bold;
  text-align: right;
  margin-top: 0;
}

.unit-content{
  column-count: 3;
  padding-bottom: 20px;
}

.unit-about{
  padding-bottom: 20px;
  padding-right: 50%;
}

.text{
  padding-top: 0;
  margin-top: 0;
}

.recipe{
  border-left: solid 3px orange;
  padding-left: 10px;
  line-height: 22px;
}

.directions{
  list-style-type: lower-greek;
}

.print-btn{
  display: inline-block;
  background-color: #101010;
  font-size: 18px;
  padding: 5px;
  width: 100px;
  color: snow;
  border-radius: 5px;
  border: solid lightgrey 2px;
  transition-duration: 0.5s;
  align-items: center;
}

.print-btn:hover{
  background-color: lightgrey;
  color: black;
}

.print-btn:focus{
  outline: none;
}

.print-btn:active{
  background-color: orange;
  transition-duration: 0s;
}

.option-btn{
  display: inline-block;
  background-color: orange;
  font-size: 14px;
  padding: 5px;
  margin: 10px;
  width: 240px;
  height: 32px;
  color: #101010;
  border-radius: 24px;
  border: 0;
  transition-duration: 0.5s;
  align-items: center;
}

.option-btn:hover{
  background-color: dimgrey;
  color: snow;
}

.option-btn:focus{
  outline: none;
}

.option-btn:active{
  background-color: snow;
  color: black;
  transition-duration: 0s;
}

::selection{
  background-color: rgba(255,255,255,0.90);
  color: black;
}

.list-in-text{
  list-style: none;
}

.list-in-text li::before{
  content: "\2022";
  color: orange;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
